.env
/__pycache__
/assets/template.psd
.dockerignore
rollOwnership.sqlite
/modules/__pycache__
/modules/aegis/__pycache__
/modules/classes/__pycache__
/modules/cli/__pycache__
/modules/db/__pycache__
/modules/hiuraroll/__pycache__
