.env
/__pycache__
/assets/template.psd
/modules/__pycache__
/modules/aegis/__pycache__
/modules/classes/__pycache__
/modules/cli/__pycache__
/modules/dbcon/__pycache__
/modules/hiuraroll/__pycache__
/modules/aegis/classes/__pycache__
/modules/nekomimi/__pycache__
/modules/hiurahelp/__pycache__
/modules/memberjoin/__pycache__
/modules/hiuragreet/__pycache__
/modules/urlprocessing/__pycache__
/modules/db
rollOwnership.sqlite
.github
.vscode
