.env
/__pycache__
/assets/template.psd
/modules/__pycache__
/modules/aegis/__pycache__
/modules/classes/__pycache__
/modules/cli/__pycache__
/modules/db/__pycache__
/modules/hiuraroll/__pycache__
/modules/aegis/classes/__pycache__
/modules/nekomimi/__pycache__
